body {
    background-color: #f7fafc;
}

.container.app-shell {
    background-color: #f7fafc;
}

.menu,
.menu-container {
    background-color: #fff8f1;
}

.dash-body,
.dash-body::before {
    background: #f7fafc !important;
}

.menu-active,
.menu-btn:hover {
    background: linear-gradient(90deg, #fff0e0 0%, transparent 100%);
}
